@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { /*stylelint-disable-line*/
  box-sizing: inherit;
}

.wf-gtwalsheimpro-n4-active {

  & body {
    font-family: 'GT_Walsheim_Pro';
    font-weight: normal;
  }
}

body {
  font-size: 1.6rem;
  background-color: black;
  color: white;
  width: 90vw;
  margin: 2.7rem auto;
  line-height: 1.8rem;
}

.hide {
  display: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.navigation {
  margin-bottom: 5rem;
}

.navigation, .nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item:last-child {
  margin: 0 0 0 3.2rem;
}

.nav-title {
  text-transform: uppercase;
  font-weight: bold;
}

.intro {
  height: calc(100vh - 12.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-big {
  color: var(--melon);
  font-weight: bold;
  font-size: 3.3rem;
  line-height: 3.8rem;
  margin-bottom: 3.2rem;
}

.intro-text {
  font-size: 1.9rem;
  line-height: 2.2rem;
}
