@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { /*stylelint-disable-line*/
  box-sizing: inherit;
}

.wf-gtwalsheimpro-n4-active {

  & body {
    font-family: 'GT_Walsheim_Pro';
    font-weight: normal;
  }
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  width: 90vw;
  margin: 2.7rem auto;
  line-height: 2.3rem;
}

::selection {
  background-color: white;
}

.subtitle {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: bold;
  margin-bottom: 2.3rem;
}

.text {
  margin-bottom: 1.6rem;
}

.hide {
  display: none;
}

.lastname {
  display: none;
}

.link {
  text-decoration: underline;

  &:hover {
    transition: color .15s linear;
    color: var(--melon);
  }
}

.social-media {
  margin-top: 1.6rem;
}

.link, .social-link {
  color: white;
}

.social-link {
  text-decoration: none;
  margin-right: 1.6rem;

  & svg {
    width: 3.5rem;
    height: 3.5rem;
  }

  &:hover {

    & .fill {
      transition: fill .15s linear;
      fill: var(--melon);
    }
  }
}

.nav-link-title, .nav-link {
  color: white;
  text-decoration: none;
}

.nav-link {
  padding: 0 .2rem .2rem;

  &:hover {
    transition: color .15s linear;
    color: var(--melon);
  }
}

.nav-active {
  border-bottom: .1rem solid white;
}

.navigation {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 5rem;
}

.navigation, .nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item:last-child {
  margin: 0 0 0 3.2rem;
}

.nav-title {
  text-transform: uppercase;
  font-weight: bold;
}

.quote-big {
  max-width: 80rem;
  color: var(--melon);
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

.section-quote {
  margin-bottom: 5rem;
}

.intro-text {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-bottom: 5rem;
}

.heading {
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: .8rem;
  font-weight: bold;
  margin-top: 3.9rem;
}

.quote-small {
  color: var(--melon);
  margin-bottom: 1.6rem;
}

.silke {
  width: 40vw;
  max-width: 39rem;
  height: auto;
}

.back {
  text-decoration: none;
}

.project-item {
  position: relative;
  margin-bottom: 1rem;

  &:hover {

    & .more {
      transition: opacity .2s linear;
      opacity: 100;
    }
  }
}

.project-img {
  width: 100%;
  height: auto;
  z-index: 0;
  filter: grayscale(100%);

  &:hover {
    transition: filter .25s linear;
    filter: none;
  }
}

.more, .project-title {
  pointer-events: none;
  font-weight: bold;
  line-height: 2.2rem;
  color: white;
  z-index: 1;
  bottom: 1rem;
  position: absolute;
}

.more {
  right: 1.4rem;
  font-size: 3rem;
  opacity: 0;
  color: white;
}

.project-title {
  font-size: 1.8rem;
  left: 1.4rem;
}

.project-detail-img {
  order: -1;
  margin-bottom: 1.1rem;
}

.video video, .visual, .project-detail-img {
  width: 100%;
  height: auto;
}

.term {
  margin: 1.6rem 0 .8rem;
  color: var(--grey);
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: bold;
}

.section-detail {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 500px) {

  .lastname {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {

  .visuals-container {
    display: flex;
    justify-content: center;
  }

  .visual {
    width: 45vw;
  }

  .section-quote {
    margin-bottom: 7.9rem;
  }

  .navigation {
    margin-bottom: 7.9rem;
  }

  .section-about {
    max-width: 102.4rem;
    margin: 0 auto;
  }

  .quote-small {
    margin-bottom: 4rem;
  }

  .article-about {
    display: flex;

    & .heading {
      margin-top: 0;
    }
  }

  .about-content {
    margin-left: 4.5rem;
  }

  .contact {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1024px) {

  body {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .quote-big {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }

  .project-title {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .more {
    font-size: 3.2rem;
  }

  .intro-text {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .term {
    font-size: 1.6rem;
    line-height: 1.4rem;
    margin-top: 1.2rem;
  }

  .subtitle {
    font-size: 4rem;
    line-height: 4.6rem;
    margin-bottom: 3.3rem;
  }

  .heading {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .project-detail-img {
    margin-bottom: 2.3rem;
    grid-area: img;
  }

  .section-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .project-item {
    max-width: 44vw;
    height: auto;
    margin-bottom: 2rem;
  }

  .concept {
    grid-area: concept;
  }

  .visuals {
    grid-area: visuals;
  }

  .detail-info {
    grid-area: detail;
    margin-left: 3.4rem;
  }

  .brief {
    grid-area: brief;
  }

  .subtitle-detail {
    grid-area: title;
  }

  .video {
    grid-area: video;
  }

  .section-detail {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: 46% 6% 21% 27%;
    grid-template-areas:
      'img img img detail'
      'title title title title'
      'brief . concept concept'
      'visuals visuals visuals visuals'
      'video video video video';
  }
}

@media only screen and (min-width: 1440px) {

  body {
    width: 80vw;
  }

  .project-item {
    max-width: 39vw;
  }
}

@media only screen and (min-width: 1800px) {

  body {
    width: 80vw;
  }

  .project-item {
    max-width: 25.8vw;
  }
}
