@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { /*stylelint-disable-line*/
  box-sizing: inherit;
}

.wf-gtwalsheimpro-n4-active {

  & body {
    font-family: 'GT_Walsheim_Pro';
    font-weight: 400;
  }
}

body {
  font-size: 1.6rem;
}
