@font-face {
  font-family: 'GT_Walsheim_Pro';
  src: url(GT-Walsheim-Pro-Regular.woff2) format('woff2'), url(GT-Walsheim-Pro-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GT_Walsheim_Pro';
  src: url(GT-Walsheim-Pro-Medium.woff2) format('woff2'), url(GT-Walsheim-Pro-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'GT_Walsheim_Pro';
  src: url(GT-Walsheim-Pro-Bold.woff2) format('woff2'), url(GT-Walsheim-Pro-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}
